.gift-item {
  display: inline-block;
  text-align: center;
  width: calc(33.33% - 3.34px);
  margin-right: 5px;
  float: left;
  margin-bottom: 25px;
}

.gift-item:nth-child(3n) {
  margin-right: 0;
}

.gift-item .icon {
  /*border: 1px dashed #eee;*/
  display: inline-block;
  min-width: 40px;
}

.gift-item .icon img {
  height: 60px;
  width: auto;
  display: block;
  max-width: 100%;
}

.gift-item .name {
  font-size: 14px;
  margin: 3px 0 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gift-item .name span {
  display: inline-block;
  max-width: calc(100% - 45px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.gift-item .value .gem {
  font-size: 14px;
  color: #fba2ff;
  margin: 3px 0 0;
  font-weight: 400;
}

.gift-item .value .gem img {
  margin-left: 5px;
  width: 13px;
  height: 12px;
}
