.loader img {
  width: 25px;
  transform: translateY(-30px);
  animation: rotate linear 0.5s infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
