<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"
    ></script>
    <link rel="stylesheet" href="style.css" />

    <!-- Idol main info component-->
    <script
      type="text/javascript"
      src="components/idol-main-info/idol-main-info.js"
    ></script>
    <link
      rel="stylesheet"
      href="components/idol-main-info/idol-main-info.css"
    />

    <!-- Gems component -->
    <script type="text/javascript" src="components/gem/gem.js"></script>
    <link rel="stylesheet" type="text/css" href="components/gem/gem.css" />
    <!-- Loader component -->
    <script type="text/javascript" src="components/loader/loader.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="components/loader/loader.css"
    />
    <!-- Response error component -->
    <script
      type="text/javascript"
      src="components/response-error/responseError.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="components/response-error/responseError.css"
    />
    <!-- Statistic item component -->
    <script
      type="text/javascript"
      src="components/statistic-item/statistic-item.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="components/statistic-item/statistic-item.css"
    />
    <!-- Statistic card component -->
    <script
      type="text/javascript"
      src="components/statistic-card/statistic-card.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="components/statistic-card/statistic-card.css"
    />
    <!-- Statistic title component -->
    <script
      type="text/javascript"
      src="components/statistic-title/statistic-title.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="components/statistic-title/statistic-title.css"
    />
    <!-- Popup component -->
    <script type="text/javascript" src="components/popup/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="components/popup/popup.css" />

    <!--    Today info component-->
    <script
      type="text/javascript"
      src="modules/today-info/today-info.js"
    ></script>

    <!--    Total info component-->
    <script
      type="text/javascript"
      src="modules/total-info/total-info.js"
    ></script>

    <!-- Session details component -->
    <script
      type="text/javascript"
      src="components/session-details/session-details.js"
    ></script>

    <!-- Add friend successful details component -->
    <script
      type="text/javascript"
      src="components/add-friend-successful-details/add-friend-successful-details.js"
    ></script>

    <!-- Gift details component -->
    <script
      type="text/javascript"
      src="components/gift-details/gift-item/gift-item.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="components/gift-details/gift-item/gift-item.css"
    />
    <script
      type="text/javascript"
      src="components/gift-details/gift-details.js"
    ></script>

    <!-- Attendance details component -->
    <script
      type="text/javascript"
      src="components/attendance-details/attendance-details.js"
    ></script>

    <!-- Match details component -->
    <script
      type="text/javascript"
      src="components/match-details/match-details.js"
    ></script>

    <!-- Send friend request details component -->
    <script
      type="text/javascript"
      src="components/send-friend-request-details/send-friend-request-details.js"
    ></script>

    <!-- Report details component -->
    <script
      type="text/javascript"
      src="components/report-details/report-item/report-item.js"
    ></script>
    <script
      type="text/javascript"
      src="components/report-details/reports.js"
    ></script>

    <!-- Report module component -->
    <script type="text/javascript" src="modules/report/report.js"></script>
    <link rel="stylesheet" type="text/css" href="modules/report/report.css" />

    <!-- Income module component -->
    <script type="text/javascript" src="modules/income/income.js"></script>
    <link rel="stylesheet" type="text/css" href="modules/income/income.css" />
  </head>
  <body>
    <div id="app">
      <loader v-if="loading"></loader>

      <response-error v-if="!loading && !!responseError"></response-error>

      <div v-if="!loading && !responseError" id="app-wrapper">
        <idol-main-info
          :name="me.full_name"
          :gems="me.extension && me.extension.gems_available || 0"
          :avatar="me.avatar.document.url"
        ></idol-main-info>
        <today-info></today-info>
        <total-info></total-info>
        <report v-if="userReport.length > 0"></report>
        <!--        <report></report>-->
        <income></income>
      </div>

      <popup
        :show="popup.show"
        :type="popup.type"
        :canceled="() => {popup.show = false}"
      ></popup>
    </div>

    <script
      type="text/javascript"
      src="components/idol-main-info/idol-main-info.js"
    ></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
