@font-face {
  font-family: "FF Mark Pro";
  src: url("resources/fonts/FF-Mark-Pro/SVN-Mark-Pro-Thin.otf");
  font-weight: 200;
}

@font-face {
  font-family: "FF Mark Pro";
  src: url("resources/fonts/FF-Mark-Pro/SVN-Mark-Pro-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "FF Mark Pro";
  src: url("resources/fonts/FF-Mark-Pro/SVN-Mark-Pro-Book.otf");
  font-weight: 400;
}

@font-face {
  font-family: "FF Mark Pro";
  src: url("resources/fonts/FF-Mark-Pro/SVN-Mark-Pro-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "FF Mark Pro";
  src: url("resources/fonts/FF-Mark-Pro/SVN-Mark-Pro-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "FF Mark Pro";
  src: url("resources/fonts/FF-Mark-Pro/SVN-Mark-Pro-Black.otf");
  font-weight: 700;
}

body {
  padding: 0;
  margin: 0;
}
body * {
  box-sizing: border-box;
  font-family: FF Mark Pro;
}
#app {
  max-width: 100%;
  min-width: max-content;
  background: #06001c;
  min-height: 100vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
}

#app-wrapper {
  margin: auto;
  color: #fff;
  padding: 15px;
  min-height: 100vh;
  max-width: 420px;
  min-width: 320px;
  width: 100%;
}

.details {
  height: 135px;
  transition: height 0.2s;
  overflow: hidden;
}

.details.loaded {
  max-height: 468px;
  height: max-content;
}

.details .head {
  padding: 15px 0;
  text-align: center;
}

.details .head h3 {
  padding: 0;
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 20px;
}

.details .head p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #888;
}

.details .list {
  padding: 0 10px 15px;
}

.details .scrollable {
  max-height: 291px;
  overflow: auto;
  max-width: 320px;
  margin: auto;
  padding: 0 15px;

  /*background: linear-gradient(#ffffff 30%, rgba(255, 255, 255, 0)),*/
  /*  linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%) 0 100%,*/
  /*  radial-gradient(*/
  /*    farthest-side at 50% 0,*/
  /*    rgba(120, 120, 120, 0.5),*/
  /*    rgba(0, 0, 0, 0)*/
  /*  ),*/
  /*  radial-gradient(*/
  /*      farthest-side at 50% 100%,*/
  /*      rgba(120, 120, 120, 0.5),*/
  /*      rgba(0, 0, 0, 0)*/
  /*    )*/
  /*    0 100%;*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: local, local, scroll, scroll;*/
  /*background-size: 100% 22px, 100% 22px, 100% 11px, 100% 11px;*/
}

.details .heading {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  max-width: 320px;
  margin: auto;
  padding: 10px 15px 15px;
}

.details .heading span {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  width: 100%;
}

.details .item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.details .item span {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
}

.details .heading span:nth-child(1),
.details .item span:nth-child(1) {
  text-align: left;
}

.details .item > span:nth-child(1) {
  color: #888888;
}

.details .heading span:nth-child(2),
.details .item span:nth-child(2) {
  text-align: center;
  white-space: nowrap;
}

.details .heading span:nth-child(3),
.details .item span:nth-child(3) {
  text-align: right;
}

.details .footer {
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 10px 15px 0 15px;
  border-top: 1px solid #d6d6d6;
  margin: 15px auto 0;
  max-width: 320px;
}

.details .footer > span {
  display: inline-block;
  width: 100%;
}

.details .footer span:nth-child(1) {
  text-align: left;
}

.details .footer span:nth-child(2) {
  text-align: center;
  font-weight: 600;
  font-size: 17px;
}

.details .footer span:nth-child(3) {
  text-align: right;
  transform: translateX(3px);
}

.details .footer span:nth-child(3) span {
  font-weight: 600;
}

.details .loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.report-item {
  border-bottom: 1px solid #ddd;
}

.report-item:last-child {
  border-bottom: 0;
}

.report-media {
  overflow: auto;
  padding-bottom: 15px;
}

.report-media > div > div {
  display: inline-block;
  height: 100px;
  min-width: 60px;
  border: 1px dashed #ddd;
  margin-right: 10px;
}
