.gem{
	color: #FBA2FF;
	font-size: 15px;
	display: inline-flex;
	align-items: center;
	font-weight: 500;
}

.gem img{
	width: 15px;
	height: 14px;
	margin-left: 10px;
	display: block;
	transform: translateY(1px);
}