.statistic-card {
  max-width: 160px;
  background: linear-gradient(rgba(127, 0, 210, 0.4), rgba(177, 13, 225, 0.4));
  border-radius: 12px;
  color: #ffffff;
  min-height: 116px;
  /*text-align: center;*/
  padding: 10px 5px;
  width: calc(33.33% - 5.34px);
  float: left;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}

.statistic-card:nth-child(2) {
  margin: 0 8px;
}

.statistic-card span {
  display: block;
  text-align: center;
}

.statistic-card span:nth-child(2) {
  font-size: 14px;
  font-weight: 600;
}

.statistic-card span:nth-child(3) {
  font-size: 10px;
  margin: 5px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.statistic-card img.icon {
  width: 30px;
  height: 30px;
  margin: 0 0 5px;
}

.statistic-card .gem img {
  width: 14px;
  height: 11px;
  margin-left: 5px;
}

.statistic-card .gem {
  font-size: 13px;
}
