.income {
  margin-top: 10px;
  line-height: 30px;
  color: #98a0b1;
  font-size: 13px;
}

.income > div:first-child {
  font-weight: 600;
  color: #fff;
  font-size: 16px;
}

.income > div:nth-child(2) > span:first-child {
  margin-right: 10px;
}
.income > div:nth-child(2) > span:last-child {
  color: #fff;
}
