.statistic-item {
  font-size: 13px;
  color: #aaa;
  display: flex;
  align-items: center;
  padding: 5px 0;
  justify-content: space-between;
}

.statistic-item > span {
  display: inline-flex;
  align-items: center;
}

.statistic-item img.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  filter: invert(74%) sepia(2%) saturate(0%) hue-rotate(152deg) brightness(140%)
    contrast(10%);
}

.statistic-item .n {
  color: #fff;
  margin-left: 5px;
}

.statistic-item .gem {
  font-weight: 400;
}

.statistic-item .gem img {
  margin-left: 3px;
  transform: translateY(2px);
}
