.popup{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	animation: show linear .2s;
}

.popup.hidding{
	animation: hide linear .15s;
}

.popup .overlay{
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.85);
}

.popup .popup-body{
	width: 90%;
	max-width: 420px;
	min-height: 100px;
	background: #fff;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	color: #000;
	padding: 10px 15px;
	animation: scale-up linear .2s;
}

.popup.hidding .popup-body{
	animation: scale-down linear .15s;
}

@keyframes show{
	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}
}

@keyframes scale-up{
	from{
		transform: scale(0);
	}

	to{
		transform: scale(1);
	}
}

@keyframes scale-down{
	from{
		transform: scale(1);
	}

	to{
		transform: scale(0);
	}
}

@keyframes hide{
	from {
		opacity: 1;
	}

	to{
		opacity: 0;
	}
}

