.statistic-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  margin: 25px 0 15px 0;
}

.statistic-title .note {
  font-size: 13px;
  font-weight: 400;
  color: #aaa;
  margin-left: 3px;
}
