.report {
  margin: 10px 0;
}
.report img {
  height: 20px;
  transform: translateY(4px);
}

.report > span:nth-child(2) {
  color: #ff0000;
  font-weight: 700;
}

.report > span:nth-child(3) {
  color: #ff0000;
}

.report > span:nth-child(4) {
  color: #26d57d;
  text-decoration: underline;
  margin-left: 10px;
}
