@font-face {
  font-family: "FF Mark Pro";
  src: url("SVN-Mark-Pro-Thin.otf");
  font-weight: 200;
}

@font-face {
  font-family: "FF Mark Pro";
  src: url("SVN-Mark-Pro-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "FF Mark Pro";
  src: url("SVN-Mark-Pro-Book.otf");
  font-weight: 400;
}

@font-face {
  font-family: "FF Mark Pro";
  src: url("SVN-Mark-Pro-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "FF Mark Pro";
  src: url("SVN-Mark-Pro-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "FF Mark Pro";
  src: url("SVN-Mark-Pro-Black.otf");
  font-weight: 700;
}
