.idol-main-info {
  display: flex;
  width: 100%;
  height: max-content;
  padding: 10px;
}

.idol-main-info .avatar img {
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.idol-main-info .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.idol-main-info .info > span {
  margin-bottom: 5px;
}

.idol-main-info .info > span:first-child {
  font-size: 21px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.idol-main-info .info > span:nth-child(2) {
  font-size: 13px;
  color: #aaaaaa;
}

.idol-main-info .info .gem {
  font-weight: 600;
}
